{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
 <span class="badge badge-pill badge-info">Info Les évènements</span>
    <div class="container">

        <div class="container">
            <div class="row">
                {% for evenement in event %}
                <div class="col-12 col-md-6 col-lg-4 mb-5">


                            <div class="card" style="width: 18rem;">
                                <img src="{{ evenement.photo }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ evenement.title }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ evenement.date | date("d/m/Y") }}</h6>
                                    <p class="card-text">{{ evenement.description }}</p>

                                </div>
                            </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}
