{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
 <span class="badge badge-pill badge-info">Info Les évènements</span>
    <div class="container">

                    <table class="tabEvent">
                        <colgroup span="4" class="columns"></colgroup>
                        <tr><strong>
                            Titre
                            </strong>
                        </tr>
                        <tr><strong>
                            description </strong>
                        </tr>
                        <tr><strong>
                            Date </strong>
                        </tr>
                        <tr><strong>
                            Organisateur </strong>
                        </tr>
                    </table>

                {% for evenement in event %}
                    <table class="tabEvent">
                        <tbody>
                        <tr>
                            <td>
                                {{ evenement.title }}
                                {{ evenement.description }}
                                {{ evenement.date | date("d/m/Y") }}
                                {{ evenement.organisator }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
            {% endfor %}
    </div>


{% endblock %}
