{% extends 'base.html.twig' %}

{% block body %}
                <form action="{{ path('security_login') }}" method="post">

                    <div class="container">
                        <div class="row">

                            <div class="col-6 offset-2">
                                <h1>Connexion</h1>
                                {#{% if not app.user %} #}
                                {% if error %}
                                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                {#{% else %}}#}
                                <div class="form-group">
                                    {# _username et _password : nom des champs pris en compte pour la connection par symfony#}
                                    <input placeholder="Adresse mail" required name="_username" type="text" value="{{ last_username }}" class="form-control">
                                </div>
                                <div class="form-group">
                                    {# _username et _password : nom des champs pris en compte pour la connection par symfony#}
                                    <input placeholder="Password" required name="_password" type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success"> Connexion </button>
                                </div>
                                {# {% endif %}#}

                            </div>

                        </div>

                    </div>                                      {# {% endif %}#}
                </form>
{% endblock %}

