a{
    color: white;
}

a:hover{
    color: white;
}

.linkedin{
    background-color: rgba(0, 123, 182);
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}
#myFooter{
    background: #343a40; /* Old browsers */
    background: -moz-linear-gradient(top,  #0e0e0e 0%, #343a40 50%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e0e0e), color-stop(50%,#343a40), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0e0e0e 0%,#0e0e0e 50%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0e0e0e 0%,#343a40 50%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0e0e0e 0%,#343a40 50%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0e0e0e 0%,#343a40 50%,#0e0e0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
#menu{
    
    background: #343a40; /* Old browsers */
    background: -moz-linear-gradient(top,  #1F2124 0%, #343a40 57%, #262A2E  100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#212428), color-stop(57%,#343a40), color-stop(100%,#262A2E )); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1F2124 0%,#343a40 57%,#262A2E  100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1F2124 0%,#343a40 57%,#262A2E  100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1F2124 0%,#343a40 57%,#262A2E  100%); /* IE10+ */
    background: linear-gradient(to bottom, #1F2124 0%,#343a40 57%,#262A2E 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1F2124', endColorstr='#262A2E',GradientType=0 ); /* IE6-9 */
}
#footerCard-body{
    border-top-color: #17191A;
    border-bottom-color: #30363B;
    background: #343a40; /* Old browsers */
    background: -moz-linear-gradient(top,  #17191A 0%,#212427 36%,#2A2E33 64%, 30363B  100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#17191A),color-stop(36%,#212427) color-stop(64%,#2A2E33), color-stop(100%,#30363B )); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #17191A 0%,#2E3338  100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #17191A 0%,#212427 36%,#2A2E33 64%,#30363B  100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #17191A 0%,#212427 36%,#2A2E33 64%,#30363B 100%); /* IE10+ */
    background: linear-gradient(to bottom, #17191A 0%,#212427 36%,#2A2E33 64%,#30363B 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17191A', endColorstr='#30363B',GradientType=0 ); /* IE6-9 */
}
