#myNavbar a:hover{
    background-color: #343a40;
    color: #fff !important;
    opacity:1 !important;
}

/* ##### RESET ##### **/
*{
    padding: 0;
    margin: 0;
}
/*#carouselButtons {
    margin-left: 100px;
    position: absolute;
    bottom: 0px;
}*/
/* ##### Home ##### */

/* carousel */

@media screen and (max-width: 868px) {
    #carousel {
        visibility: hidden;
        max-height: 0px;
    }
}
.carousel-inner {
     max-height: 400px;
 }

/* formulaire de contact */
#form{
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    border: 1px solid darkgray;

}

/* map */
.ifram{
    overflow: hidden;
    position: relative;
    align-items: center;
}

ifram{
    height: 100%;
    width: 100%;
    position: absolute;

}