#myTitle{
    background: #343a40; /* Old browsers */
    background: -moz-linear-gradient(top,  #0e0e0e 0%, #25282C 50%, #343a40  100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e0e0e), color-stop(50%,#25282C), color-stop(100%,#343a40 )); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0e0e0e 0%,#25282C 50%,#343a40  100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0e0e0e 0%,#25282C 50%,#343a40  100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0e0e0e 0%,#25282C 50%,#343a40  100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0e0e0e 0%,#25282C 50%,#343a40  100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#343a40',GradientType=0 ); /* IE6-9 */
}

#myNavbar a:hover{
    background-color: #343a40;
    color: #fff !important;
    opacity:1 !important;
}

#myNavbar{
    background: #343a40; /* Old browsers */
    background: -moz-linear-gradient(top,  #343a40 0%, #25282C 50%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343a40), color-stop(50%,#25282C), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #343a40 0%,#25282C 50%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #343a40 0%,#25282C 50%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #343a40 0%,#25282C 50%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #343a40 0%,#25282C 50%,#0e0e0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a40', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
#dropdownMenuButton {
    background-color: #282C30; 
   
}

/* ##### RESET ##### **/
*{
    padding: 0;
    margin: 0;
}
/*#carouselButtons {
    margin-left: 100px;
    position: absolute;
    bottom: 0px;
}*/
/* ##### Home ##### */

/* carousel */

@media screen and (max-width: 868px) {
    #carousel {
        visibility: hidden;
        max-height: 0px;
    }
}
.carousel-inner {
     max-height: 400px;
 }

/* formulaire de contact */
#form{
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    border: 1px solid darkgray;

}

/* map */
.ifram{
    overflow: hidden;
    position: relative;
    align-items: center;
}

ifram{
    height: 100%;
    width: 100%;
    position: absolute;

}
