/**
    NAVBAR
 */

.menu.dropdown-toggle::after {
    visibility: hidden;
}

/**
    END NAVBAR
 */


/**
    INSTRUCTORS PAGE
 */
.instructors_jumbotron {
    background-image: url('../img/timothy-eberly-515801-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40%;
}

.instructors_jumbotron h1 {
    color: white;
    text-align: left;
}

.instructors_jumbotron .div_h1 {
    content: '';
    border-top: 1px solid red;
    width: 375px;
}

/**
    END INSTRUCTORS PAGE
*/
