{% extends 'base.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}
<h1>DashBoard Administrateur </h1>
    {% for message in app.flashes('information') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}



{% endblock %}
