{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}
{% block body %}
    {% if editMode %}
        <h1>Modification d'une discipline</h1>
    {% else %}
        </br>
        <h1 style="text-align: center">Ajout d'une discipline</h1></br>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-6">
                {{ form_start(formDisciplines,{'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(formDisciplines.name,{'attr': {'placeholder':"Nom de la discipline "}}) }}
                {{ form_row(formDisciplines.description,{'attr': {'placeholder':"description de la discipline "}}) }}
                </br>
                <button type="submit" class="btn btn-success">
                    {% if editMode %}
                        Enregistrer les modifications
                    {% else %}
                        Ajouter la discipline
                    {% endif %}
                </button>
                {{ form_end(formDisciplines) }}

            </div>
        </div>
    </div>
    </br>

{% endblock %}
