{% extends 'base.html.twig' %}

{% block title %}AMB - Mentions légales{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4">Mentions légales du site<br> AMB - Arts Martiaux Basséens</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="py-2 my-3">
                <h2>AMB - Arts Martiaux Basséens</h2>
                [adresse postale]<br>
                [téléphone]<br>
                [e-mail]<br>

                <h2>Directeur/trice de publication</h2>
                Vincent Robin <br>
                [e-mail]<br>

                <h2>Hébergeur</h2>
                [coordonnées de l'hébergeur du site]<br>

                <h2>Développeurs</h2>
                Vincent Robin<br>
                Laurent Gagneur<br>
                Jean Perrault<br>
                Geoffrey Moniez <br>
                Mélisande Baratte
            </div>
        </div>
    </div>
{% endblock %}
